In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#loaded CSV
real_estate ="data/nyc_real_estate_building_final_use_this.csv"
real_estate_df = pd.read_csv(real_estate)
real_estate_df.head()

,index,full_address,building_class_category,sale_price,neighborhood,tax_class_at_present,zip_code,building_class_at_time_of_sale,borough_name,latitude,longitude
0,0,****** 95TH STREET Queens,07 RENTALS - WALKUP APARTMENTS,0.0,OZONE PARK,1B,11417.0,V0,Queens,40.686989,-73.847231
1,2,1 5 AVENUE Manhattan,07 RENTALS - WALKUP APARTMENTS,4925000.0,GREENWICH VILLAGE-CENTRAL,2,10003.0,D4,Manhattan,49.836689,24.020745
2,3,1 5TH AVENUE Manhattan,07 RENTALS - WALKUP APARTMENTS,0.0,GREENWICH VILLAGE-CENTRAL,2,10003.0,D4,Manhattan,40.745898,-73.986688
3,4,1 ASCAN AVE Queens,07 RENTALS - WALKUP APARTMENTS,649000.0,FOREST HILLS,2,11375.0,D4,Queens,40.717455,-73.841313
4,5,1 ASCAN AVENUE Queens,07 RENTALS - WALKUP APARTMENTS,395000.0,FOREST HILLS,2,11375.0,D4,Queens,40.717455,-73.841313

In [3]:
real_estate_df = real_estate_df.rename(columns={"Full_Address": "full_address",
                                               "BUILDING CLASS CATEGORY": "building_class_category",
                                               "SALE PRICE": "sale_price",
                                               "NEIGHBORHOOD": "neighborhood",
                                               "TAX CLASS AT PRESENT": "tax_class_at_present",
                                               "ZIP CODE": "zip_code",
                                               "BUILDING CLASS AT TIME OF SALE": "building_class_at_time_of_sale",
                                               "borough_name": "borough_name",
                                               "latitude": "latitude",
                                               "longitude": "longitude"})

real_estate_df.head()

,index,full_address,building_class_category,sale_price,neighborhood,tax_class_at_present,zip_code,building_class_at_time_of_sale,borough_name,latitude,longitude
0,0,****** 95TH STREET Queens,07 RENTALS - WALKUP APARTMENTS,0.0,OZONE PARK,1B,11417.0,V0,Queens,40.686989,-73.847231
1,2,1 5 AVENUE Manhattan,07 RENTALS - WALKUP APARTMENTS,4925000.0,GREENWICH VILLAGE-CENTRAL,2,10003.0,D4,Manhattan,49.836689,24.020745
2,3,1 5TH AVENUE Manhattan,07 RENTALS - WALKUP APARTMENTS,0.0,GREENWICH VILLAGE-CENTRAL,2,10003.0,D4,Manhattan,40.745898,-73.986688
3,4,1 ASCAN AVE Queens,07 RENTALS - WALKUP APARTMENTS,649000.0,FOREST HILLS,2,11375.0,D4,Queens,40.717455,-73.841313
4,5,1 ASCAN AVENUE Queens,07 RENTALS - WALKUP APARTMENTS,395000.0,FOREST HILLS,2,11375.0,D4,Queens,40.717455,-73.841313

In [6]:
#connect engine
###note to group, update local host location and name of database to reflect what is on your system
connection_string = "postgres:postgres@localhost:5432/group_project_2"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
#checking tables names 
engine.table_names()

['new_york_tree_census_data',
 'real_estate_data',
 'real_estate_data_final',
 'new_york_tree_census_data_final']

In [14]:
#Reset index name to load into SQL database
real_estate_df.index.name = "id"

In [24]:
clean_real_estate_df = real_estate_df.drop(['index'], axis=1)

In [25]:
clean_real_estate_df

,full_address,building_class_category,sale_price,neighborhood,tax_class_at_present,zip_code,building_class_at_time_of_sale,borough_name,latitude,longitude
id,,,,,,,,,,
0,****** 95TH STREET Queens,07 RENTALS - WALKUP APARTMENTS,0.0,OZONE PARK,1B,11417.0,V0,Queens,40.686989,-73.847231
1,1 5 AVENUE Manhattan,07 RENTALS - WALKUP APARTMENTS,4925000.0,GREENWICH VILLAGE-CENTRAL,2,10003.0,D4,Manhattan,49.836689,24.020745
2,1 5TH AVENUE Manhattan,07 RENTALS - WALKUP APARTMENTS,0.0,GREENWICH VILLAGE-CENTRAL,2,10003.0,D4,Manhattan,40.745898,-73.986688
3,1 ASCAN AVE Queens,07 RENTALS - WALKUP APARTMENTS,649000.0,FOREST HILLS,2,11375.0,D4,Queens,40.717455,-73.841313
4,1 ASCAN AVENUE Queens,07 RENTALS - WALKUP APARTMENTS,395000.0,FOREST HILLS,2,11375.0,D4,Queens,40.717455,-73.841313
...,...,...,...,...,...,...,...,...,...,...
55737,WOODROW ROAD Staten Island,13 CONDOS - ELEVATOR APARTMENTS,0.0,ARDEN HEIGHTS,1B,10312.0,V0,Staten Island,40.546672,-74.191896
55738,WOODYCREST AVENUE Bronx,13 CONDOS - ELEVATOR APARTMENTS,750000.0,HIGHBRIDGE/MORRIS HEIGHTS,4,0.0,G7,Bronx,40.830083,-73.929969
55739,WORTMAN AVENUE Brooklyn,13 CONDOS - ELEVATOR APARTMENTS,0.0,EAST NEW YORK,4,0.0,G7,Brooklyn,40.661459,-73.874470
55740,YORK AVENUE Staten Island,13 CONDOS - ELEVATOR APARTMENTS,235000.0,NEW BRIGHTON,1B,10301.0,V0,Staten Island,40.642265,-74.087684
55741,ZEREGA AVENUE Bronx,13 CONDOS - ELEVATOR APARTMENTS,5000000.0,CASTLE HILL/UNIONPORT,4,10473.0,V1,Bronx,40.836779,-73.846690

In [26]:
#loading data to postgresSQL
clean_real_estate_df.to_sql(name='real_estate_data', con=engine, if_exists='append', index=True)